<% include header %>
<h2>Horgász főoldal</h2>
<form>
    <div>
        <label for="name">Felhasználónév:</label>
        <input type="text" name="nev" id="name">
    </div>
    <div><label for="pass">Jelszó:</label>
        <input type="password" name="jelszo" id="pass">
    </div>
    <div>
        <a class="btn btn-primary" href="/user">Belépés</a>
        <a class="btn btn-primary" href="/user/reg">Regisztráció</a>
    </div>
</form>
<% include footer %>