<% include header %>
<h2>Jó napot Horgászuser!</h2>
<div>
    <a class="btn btn-primary" href="/tickets/add">Jegy vásárlás</a>
    <a class="btn btn-primary" href="/tickets/1">Saját jegyek</a>
    <a class="btn btn-primary" href="/user/mod/1">Beállítások</a>
    <a class="btn btn-primary" href="/">Kijelentkez</a>
</div>
<% include footer %>