<% include header %>
<h2>Horgász</h2>
<h4>Saját jegyek:</h4>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ettől</th>
        <th scope="col">Eddig</th>
        <th scope="col">Típus</th>
        <th scope="col">Ár</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>2002.12.26</td>
        <td>2002.12.27</td>
        <td>Egy bot</td>
        <td>123 ep</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>2002.12.26</td>
        <td>2002.12.27</td>
        <td>Kettő bot</td>
        <td>234 ep</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>2002.12.26</td>
        <td>2003.01.03</td>
        <td>Egy bot</td>
        <td>234 ep</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="/user">Vissza</a>
<% include footer %>